
@font-face {
    font-family: "pixelated";
    src:url("C:/Users/Roger/Documents/Websites/IIS Portfolio/PKMN-Mystery-Dungeon.ttf");
}

body {
  font-size: 12pt;
  background-color: #FFCAAA;
}

#Landing {
  max-height: 100%;
  background-size: cover;
  background-color: #FFCAAA;
  z-index: -100;
}


.landingContainer {
  height: 100vh; /*95*/
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobileMenu {
  height: 0vh; /*5vh*/
  padding-left: 9%;
  padding-right: 9%;
  /*padding-top: 3%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.mobileMenuIcons {
  margin-top: 2vh;
}

#iconsContainer {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  /*border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  box-shadow: -2px 0px 0px 0px darkgrey, 0px -2px 0px 0px darkgrey, 2px 0px 0px 0px white, 0px 2px 0px 0px white;*/
  border: 2px solid black;
  outline: 2px solid darkgrey;
  /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);*/
  background-color: white;
  background-image: url("../Images/msPaintBG-1.png"), url("../Images/msPaintBG-2.png"), url("../Images/vaporBG3.png");
  background-position: bottom right, bottom left;
  background-size: cover;
  /*background-image: url("../Images/pngBG.png");*/
}

.icon-left {
  padding-left: 15px;
}

.icon-right {
  padding-right: 15px;
}

#mySideNav {
  height: 100vh;
}

.lock-scroll {
  position: fixed;
}

#headerText {
  font-size: 280%; /*This line will get overwritten but is a fallback for older browsers that don't use vw*/
  font-size: 11.25vw;
  color: black;
  margin-bottom: 0;
  padding-top: 3%;
  line-height: 0.9;
}

#headerTextSecondary {
  font-size: 190%; /*Fallback for older browsers*/
  font-size: 7.75vw;
  color: black;
  margin-bottom: 0;
  line-height: 0.9;
}

#Reaper {
  padding-top: 2%;
  max-width: 100%;
  width: 100%;
}

#downArrow {
  padding-top: 18%;
  max-width: 25%;
  display:block;
  margin:auto;
}

@media (min-width: 576px) {
  .landingContainer {
    padding-left: 3%;
    padding-right: 3%;
  }
  #headerText {
    font-size: 280%; /*Fallback for older browsers*/
    font-size: 12.5vw;
    padding-top: 9%;
  }
  #headerTextSecondary {
    font-size: 190%; /*Fallback for older browsers*/
    font-size: 7vw;
  }
  #Reaper {
    padding-top: 2%;
    max-height: 90vh;
  }
}

@media (min-width: 768px) {
  .landingContainer {
    padding-left: 6%;
    padding-right: 6%;
  }
  #headerText {
    font-size: 280%; /*Fallback for older browsers*/
    font-size: 10vw;
    padding-top: 6%;
  }
  #headerTextSecondary {
    font-size: 190%; /*Fallback for older browsers*/
    font-size: 7vw;
  }
  #Reaper {
    padding-top: 2%;
    max-width: 80%;
  }
  #downArrow {
    padding-top: 18%;
    max-width: 45%;
  }
}

@media (min-width: 992px) {
  .landingContainer {
    padding-left: 18%;
    padding-right: 18%;
  }
  #headerText {
    font-size: 280%;
    font-size: 3vw;
    padding-top: 3%;
  }
  #headerTextSecondary {
    font-size: 190%;
    font-size: 2vw;
  }
  #Reaper {
    padding-top: 2%;
    max-height: 80vh;
    max-width: 80%;
  }
  #downArrow {
    padding-top: 12%;
    padding-bottom: 2%;
    max-width: 40%;
    bottom: 0;
    display:block;
    margin:auto;
  }
}

@media (min-width: 1200px) { /*xl*/
  .landingContainer {
    padding-left: 22%;
    padding-right: 22%;
  }
  #headerText {
    font-size: 140%;
    font-size: 4.3vw;
    padding-top: 8%;
  }
  #headerTextSecondary {
    font-size: 190%;
    font-size: 3.1vw;
  }
  #Reaper {
    padding-top: 2%;
    max-height: 90vh;
    max-width: 80%;
  }
}

.iconTop {
  padding-top: 150%;
}

.iconRightMiddle {
  padding-top: 80%;
  margin-left: 60%;
}

.iconLeftMiddle {
  padding-top: 80%;
  margin-left: -60%;
}

.iconBottom {
  padding-top: 80%;
}

h1 {
  color: white;
  font-size: 180%; /*200% if decide to use pixelated font*/
}

.windowTitle {
  padding-left: 10px;
}

.windowTitle {
  margin-bottom: 0rem;
}

.justify {
  display: flex;
  justify-content: center;
}

.mobileMidNavBar {
  border: 2px solid #BEBEBE;
  box-shadow: -2px 0px 0px 0px white, 2px 0px 0px 0px grey;
  background-color: #00007A;
}
#innerNavBar {
  border-right: 2px solid #00007A;
  border-top: 4px;
  margin-bottom: 6px;
  background-color: #00007A;
}

#artistStatement {
  padding-bottom: 10%;
  padding-top: 3%;
}

#gigPosters {
  z-index: 2;
}

#Portrait img {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.windowTop img{
  text-align: right;
  float: right;
  height: 36px;
}

.windowTop {
  width: 100%;
  height: 40px;
  padding: 0px;
  border-left: 2px solid white; /*#828282;*/
  border-top: 2px solid white;
  border-right: 2px solid black;
  background-color: #00007A;
  margin: 0;
  cursor: pointer;
}

.windowBottom {
  width: 100%;
  padding: 0px;
  border-left: 2px solid white;
  border-right: 2px solid #828282;
  background-color: #BEBEBE;
  margin: 0;
}

.closeButton {
  margin-top: 3px;
  margin-bottom: 3px;
}
.windowBottomContainer {
  border-left: 2px solid #828282; /*#828282;*/
  border-top: 2px solid #828282;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.windowButton {
  border-bottom: 2px solid #828282;
}

#bootstrap-override h2 {
  margin-top: 0px;
}

#name{
  font-size: 80px;
  padding-left: 5%;
  padding-top: 6%;
}

@media (min-width:500px) {
  #name {
    font-size: 120px;
    padding-left: 10%;
    padding-top: 11%;
  }
}

#practices {
    font-size: 55px;
    padding-left: 5%;
}

@media (min-width:500px) {
  #practices {
    font-size: 80px;
    padding-left: 10%;
  }
}

#location {
  font-size: 36px;
  padding-left: 5%;
}

@media (min-width:500px) {
  #location {
    font-size: 53px;
    padding-left: 10%;
    line-height: 1.8em;
  }
}

#scrollMenu {
	position:fixed;
	top:0px;
	width:100%;
	z-index:9999;
	display: none;
  text-decoration: none;
  background-color: white;
}

#scrollMenu a {
  text-decoration: none;
}
.rightAlign {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10%;
  text-decoration: none;
}

.leftAlign {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10%;
}

.rightAlign a {
  margin-left: 5%;
  text-decoration: none;
  color: black;
}

.thumbnail {
  max-height: 40px;
  text-align: left;
  padding-right: 29%;
}

a:hover {
  color: purple;
}

.aboutMe {
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.aboutMe:hover {
  opacity: 1;
}



h4 img {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 300px;
}

h4 {
  font-size: 24pt;
}

p {
  font-size: 18pt;
}

.customContainer {
  margin-left: 3%;
  margin-right: 3%;
}

@media screen and (min-width:768px) {
  .customContainer {
    margin-left: 5%;
    margin-right: 5%;
    }
  }

@media screen and (min-width:992px) {
  .customContainer {
    margin-left: 9%;
    margin-right: 9%;
    }
  }

@media screen and (min-width:1200px) {
  .customContainer {
    margin-left: 14%;
    margin-right: 14%;
    }
  }

.indent {
  padding-left: 8%;
  font-size: 24pt;
}

#bootstrap-override h3 {
  font-size: 24pt;
}

.carousel-caption {
  margin: 10px;
}

.left-half-col {
  padding-right: 2%; /*was 2.5%*/
}

@media (min-width:768px) {
  .left-half-col {
      padding-right: 2%; /*was 3%*/
    }
  }

@media (min-width:992px) {
  .left-half-col {
      padding-right: 3.5%; /*was 3.5%*/
    }
  }

@media (min-width:1200px) {
  .left-half-col {
      padding-right: 2%; /*was 4%*/
    }
  }


.right-half-col {
  padding-left: 2%; /*was 2.5%*/
}

@media (min-width:768px) {
  .right-half-col {
      padding-left: 2%; /*was 3%*/
    }
  }

@media (min-width:992px) {
  .right-half-col {
      padding-left: 2%; /*was 3.5%*/
    }
  }

@media (min-width:1200px) {
  .right-half-col {
      padding-left: 2%; /*was 4%*/
    }
  }



/*This line counteracts bootstrap's code which gives rows a margin of -15 on either side */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}



/*These lines fix a bug on iOS where bootstrap rows will display as 'table'*/
.row:before {
    display: inline-block;
  }

.row:after {
  display: inline-block;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 051 css*/
  .jssorb051 .i {position:absolute;cursor:pointer;}
  .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
  .jssorb051 .i:hover .b {fill-opacity:.7;}
  .jssorb051 .iav .b {fill-opacity: 1;}
  .jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
  .jssora051 {display:block;position:absolute;cursor:pointer;}
  .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
  .jssora051:hover {opacity:.8;}
  .jssora051.jssora051dn {opacity:.5;}
  .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

#bootstrap-override .col-xs-6 {
padding-left: 0 !important;
padding-right: 0 !important;
}

#bootstrap-override .img {
  padding-top: 2%; /*was 2.5%*/
}

@media (min-width:768px) {
  #bootstrap-override .img {
      padding-top: 2%; /*was 3%*/
    }
  }

@media (min-width:992px) {
  #bootstrap-override .img {
      padding-top: 2%; /*was 3.5%*/
    }
  }

@media (min-width:1200px) {
  #bootstrap-override .img {
      padding-top: 2%; /*was 4%*/
    }
  }

#bootstrap-override .swiper-container {
  padding-top: 2.5%;
  margin-top: -0.5%;
}

@media (min-width:768px) {
  #bootstrap-override .swiper-container {
      padding-top: 3%;
      margin-top: -1%;
    }
  }

@media (min-width:992px) {
  #bootstrap-override .swiper-container {
      padding-top: 3.5%;
      margin-top: -1.5%;
    }
  }

@media (min-width:1200px) {
  #bootstrap-override .swiper-container {
      padding-top: 4%;
      margin-top: -2%;
    }
  }

#bootstrap-override .videoWrapper {
  margin-top: 2%; !important;
}

@media (min-width:768px) {
  #bootstrap-override .videoWrapper {
      margin-top: 2%;
    }
  }

@media (min-width:992px) {
  #bootstrap-override .videoWrapper {
      margin-top: 2%;
    }
  }

@media (min-width:1200px) {
  #bootstrap-override .videoWrapper {
      margin-top: 2%;
    }
  }

#bootstrap-override .txt {
  padding-top: 1.25%;
}

@media (min-width:768px) {
  #bootstrap-override .txt {
      padding-top: 2.5%;
    }
  }

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;

  }

}

#bootstrap-override .sectionTitle h2 {
  font-size: 250%;
  padding-top: 1%;
}

@media (min-width:768px) {
  #bootstrap-override .sectionTitle h2 {
      font-size: 360%;
      padding-top: 1.5%;
    }
  }

@media (min-width:992px) {
  #bootstrap-override .sectionTitle h2 {
      font-size: 420%;
      padding-top: 2%;
    }
  }

@media (min-width:1200px) {
  #bootstrap-override .sectionTitle h2 {
      font-size: 450%;
      padding-top: 2.5%;
    }
  }

#bootstrap-override p {
  font-size: 120%;
}

@media (min-width:768px) {
  #bootstrap-override p {
      font-size: 145%;
    }
  }

@media (min-width:992px) {
  #bootstrap-override p {
      font-size: 170%;
    }
  }

@media (min-width:1200px) {
  #bootstrap-override p {
      font-size: 195%;
    }
  }

hr {
  color: black;
  width: 15%;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#SqX {
  padding: 2px;
}

.btn {
  border-radius: 0px;
  outline: 2px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  margin: 16px;
}

.btn:focus {
  box-shadow: 0 0 0 0rem;
  outline: 2px solid black;
}

#swap .col-12 {
  padding: 0px;
}

.negative-left-col {
  padding-right: 0px;
  padding-top: 1%;
}

.negative-right-col {
  padding-left: 0px;
  padding-top: 3%;
}
#firstIcon, #secondIcon, #thirdIcon, #fourthIcon, #fifthIcon, #sixthIcon, {
  min-height: 60px;
  max-width: 100%;
}

#firstIcon:hover {
  content: url('../Images/AboutMeIconNoBG3.gif');
  background-image: url('../Images/AboutMeIconNoBG3.gif');
  background-size: cover;
}

#secondIcon:hover {
  content: url('../Images/PostersIconNoBG3.gif');
  background-image: url('../Images/PostersIconNoBG3.gif');
  background-size: cover;
}

#thirdIcon:hover {
  content: url('../Images/StickersIconNoBG.png');
  background-image: url('../Images/StickersIconNoBG.png');
  background-size: cover;
}

#fourthIcon:hover {
  content: url('../Images/GlitchIconNoBG.gif');
  background-image: url('../Images/GlitchIconNoBG.gif');
  background-size: cover;
}

#fifthIcon:hover {
  content: url('../Images/WebsitesIconNoBG2.png');
  background-image: url('../Images/WebsitesIconNoBG2.png');
  background-size: cover;
}

#sixthIcon:hover {
  content: url('../Images/ContactIconNoBG-red2.png');
  background-image: url('../Images/ContactIconNoBG-red2.png');
  background-size: cover;
}

#seventhIcon:hover img {
  content: url('../Images/InstaIconGreenBG.png');
  cursor: pointer;
  decoration: none;
  background-image: url('../Images/InstaIconGreenBG.png');
  background-size: cover;
}

#seventhIcon:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2F9F07;
  color: #2F9F07;
  cursor: pointer;
}

#eighthIcon:hover img {
  content: url('../Images/EmailIconGreenBG3.png');
  cursor: pointer;
  background-image: url('../Images/EmailIconGreenBG3.png');
  background-size: cover;
}

#eighthIcon:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2F9F07;
  color: #2F9F07;
  cursor: pointer;
}

#ninthIcon:hover img {
  content: url('../Images/LinkedInIconGreenBG2.png');
  cursor: pointer;
  background-image: url('../Images/LinkedInIconGreenBG2.png');
  background-size: cover;
}

#ninthIcon:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2F9F07;
  color: #2F9F07;
  cursor: pointer;
}

#tenthIcon:hover img {
  content: url('../Images/ResumeIconGreenBG2.png');
  cursor: pointer;
  background-image: url('../Images/ResumeIconGreenBG2.png');
  background-size: cover;
}

#tenthIcon:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2F9F07;
  color: #2F9F07;
  cursor: pointer;
}

#eleventhIcon:hover img {
  content: url('../Images/PhoneIconGreenBG.png');
  cursor: pointer;
  background-image: url('../Images/PhoneIconGreenBG.png');
  background-size: cover;
}

#eleventhIcon:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2F9F07;
  color: #2F9F07;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d3d3d3;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  /*color: #f1f1f1;*/
}

.sideNavButton {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vh;
  font-size: 22pt;
  float: right;
  display: flex;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.span {
  font-size: 32pt;
  z-index: 2;
}

#gigPosters img {
  cursor: default;
}
#Websites img {
  cursor: default;
}

#GlitchArt img {
  cursor: default;
}

#Stickers img {
  cursor: default;
}

.errorMessageContent {
  margin-top: 15px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

html, body {
  position: relative;
  width: 100%;
}

#dialogueBubble {
  margin-bottom: -5%;
  max-width: 100%;
  position: relative;
  z-index: 99;
}

@media (min-width:768px) {
  #dialogueBubble {
      margin-bottom: -3.5%;
    }
  }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ContactSectionIcon {
  max-width: 50px;
}

.ContactSectionText {
  font-size: 16pt;
  margin-left: 5%;
}

h4 {
  display: inline;
}

.contact {
  padding: 2%;
}

.contactContainer {
    margin-top: 10%;
  }

@media (min-width:992px) {
  .contactContainer {
    margin-left: 10%;
    margin-right: 10%;
    }
  }

@media (min-width:1200px) {
  .contactContainer {
    margin-left: 25%;
    margin-right: 25%;
    }
  }

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

























/*Second Swiper Code*/
.s1 {
  width: 600px;
  height: 300px;
}

.s2 {
  width: 800px;
  height: 400px;
}
/* Arrows */

.swiper-button-prev2,
.swiper-button-next2 {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev2.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev2,
.swiper-container-rtl .swiper-button-next2 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev2.swiper-button-black,
.swiper-container-rtl .swiper-button-next2.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev2.swiper-button-white,
.swiper-container-rtl .swiper-button-next2.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next2,
.swiper-container-rtl .swiper-button-prev2 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next2.swiper-button-black,
.swiper-container-rtl .swiper-button-prev2.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next2.swiper-button-white,
.swiper-container-rtl .swiper-button-prev2.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
/* Pagination Styles */

.swiper-pagination2 {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination2.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-vertical > .swiper-pagination2 {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination2 .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination2 {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination2 .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Scrollbar */

.swiper-scrollbar2 {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar2 {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar2 {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
/*End*/

html, body, .swiper-container {
    height:100%;
    position:relative;
}

html, body, .swiper-container2 {
    max-height:100%;
    position:relative;
}

#aboutMeDescription {
  margin-top: 15px;
}

.col-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width:768px) {
  .webSubtext {
      padding-left: 30px;
    }
  }

@media (min-width:768px) {
  .webSubtext2 {
      padding-right: 30px;
    }
  }

#blocker {
  position: fixed;
  width: 40px;
  height: 56px;
  left: 0px;
  bottom: 36px;
  background-color: #FFCAAA;
}

#showButton {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: #FFCAAA;
}
#sidemenu {
  position: fixed;
  bottom: 40px;
  left: -90px;
  width: 172px;
  height: 46px;
  background-color: #BDBEBD;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 1;
}
#sidemenu.show {
  left: 86px; /*138px*/
  opacity: 1;
}

.beigeSwatch {
  display:inline;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.swatch2 {
  display:inline;
  margin-top: 5px;
  margin-bottom: 5px;
}

.swatchContainer {
    display:inline;
    padding-left: 5px;
  }

.swatchMobile {

}

.noPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
